data/xsd/CatRoyale.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:cat="http://www.univ-grenoble-alpes.fr/l3miage/CatRoyaleGame"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/CatRoyaleGame"
        elementFormDefault="qualified"
>
    <!-- on choisi le prefix "cat" comme le mot anglais "chat" -->
    
    <
    
    <!-- element racine instanciable -->
    <element name="jeu" type="cat:Jeu"/>

    <!-- Jeu -->
    <complexType name="Jeu">
        <sequence>
            <element name="plateau" type="cat:Plateau"/>
            <element name="joueur1" type="cat:Joueur"/>
            <element name="joueur2" type="cat:Joueur"/>
            <element name="cartesDuJeu" type="cat:ListeDeCartes"/>
        </sequence>
    </complexType>

    <!-- Plateau -->
    <complexType name="Plateau">
        <sequence>
            <element name="vecteurDeCases" type="cat:VecteurDeCases" minOccurs="7" maxOccurs="7"/>
        </sequence>
    </complexType>
    
    <!-- VecteurDeCases -->
    <complexType name="VecteurDeCases">
        <sequence>
            <element name="case" type="cat:Case" minOccurs="10" maxOccurs="10"/> 
        </sequence>
    </complexType>
    
    <!-- Case -->
    <complexType name="Case">
        <sequence>
            <element name="invocation" type="cat:Invocation" minOccurs="0"/>
        </sequence>
        <attribute name="estVide" type="boolean" use="required"/>
    </complexType>
    
    <!-- Invocation -->
    <complexType name="Invocation">
        <sequence>
            <element name="vie" type="int"/>
            <element name="degat" type="int"/>
            <element name="pseudoInvocateur" type="string"/>
            <element name="peutJouer" type="boolean"/>
            <element name="peutAttaquer" type="boolean"/>
        </sequence>
    </complexType>
    
    <!-- Joueur -->
    <complexType name="Joueur">
        <sequence>
            <element name="pseudo" type="string"/>
            <element name="winStreak" type="int"/>
            <element name="jauge" type="int"/>
            <element name="hand" type="cat:ListeIdCarte"/>
            <element name="deck" type="cat:ListeIdCarte"/>
        </sequence>
    </complexType>
    
    <!-- ListeIdCarte -->
    <complexType name="ListeIdCarte">
        <sequence>
            <element name="idCarte" type="cat:IdCarte" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!-- 
        Type ListeDeCartes
        contenant : une carte de type Carte[] (au moins une carte de type Carte)
    -->
    <complexType name="ListeDeCartes">
        <sequence>
            <element name="carte" type="cat:Carte" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!-- Type Carte
        contenant : un attribut id de type IdCarte
                    une vie de type int,
                    un nombre de dégat de type int,
                    un nom de type string,
                    une imageInvocation de type string,
                    une imageCarte de type string,
                    un cout de type int,
                    un type de type TypeDeCarte
                    unr rarete de type TypeRarete
    -->
    <complexType name="Carte">
        
        <sequence>
            <element name="vie" type="int"/>
            <element name="degat" type="int"/>
            <element name="nom" type="string"/>
            <element name="imageCarte" type="string"/>
            <element name="imageInvocation" type="string"/>
            <element name="cout" type="int"/>
            <element name="type" type="cat:TypeDeCarte"/>
            <element name="rarete" type="cat:TypeRarete"/>
        </sequence>
        <attribute name="id" type="cat:IdCarte" use="required"/>
    </complexType>
    
    <!-- Type IdCarte 
        n'acceptant que les noms des cartes (A COMPLETER)
    -->
    <simpleType name="IdCarte">
        <restriction base="string">
            <enumeration value="sorcier"/>
        </restriction>
    </simpleType>
    
    <!-- Type TypeDeCarte
        n'acceptant que combattant, sort et objet
     -->
    <simpleType name="TypeDeCarte">
        <restriction base="string">
            <enumeration value="combattant"/>
            <enumeration value="sort"/>
            <enumeration value="objet"/>
        </restriction>
    </simpleType>
    
    <!-- Type TypeRarete
        n'acceptant que commune, rare, épique et légendaire
     -->
    <simpleType name="TypeRarete">
        <restriction base="string">
            <enumeration value="commune"/>
            <enumeration value="rare"/>
            <enumeration value="épique"/>
            <enumeration value="légendaire"/>
        </restriction>
    </simpleType>
    
</schema>    